@font-face {
    font-family: 'NotoSansKR';
    src: url('fonts/Noto_Sans_KR/static/NotoSansKR-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'alfaSlab';
    src: url('fonts/alfa-slab/AlfaSlabOne-Regular.ttf') format('truetype');
}

body {
    font-family: 'NotoSansKR';
    margin: 0;
}

.header {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: #FBF7F4;
    transition: all .5s;
}

.header-fixed {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4.5rem;
}

.header-scrolling {
    position: fixed;
    top: 0;
    height: 3.5rem;
}

.header-title {
    margin-left: 400px;
    font-family: 'alfaSlab';
    font-size: 1.7rem;
}

.nav {
    margin-left: auto;
    margin-right: 400px;
    display: flex;
    font-size: 0.9rem;
}

.nav-item {
    margin-left: 40px;
}

.home {
    padding-top: 4.5rem;
    height: 100vh;
    background-color: #023327;
    color: #FBF7F4;
    text-align: center;
}

.home-mainImage-wrapper {
    padding-top: 7rem;
    padding-bottom: 2rem;
    width: 30rem;
    border: 0;
    margin: 0 auto;
}

.home-mainImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    filter: brightness(85%);
}