@font-face {
    font-family: 'Noto_Sans_KR';
    src: url('fonts/Noto_Sans_KR/static/NotoSansKR-Regular.ttf') format('truetype');
}

body {
    font-family: 'Noto_Sans_KR';
    margin: 0;
}
.header {
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: #FBF7F4;
}

.header-title {
    margin-left: 30px;
    font-size: 1.7rem;
}

.nav {
    margin: auto;
    display: flex;
    font-size: 1rem;
}

.nav-item {
    margin-left: 40px;
}

.home {
    height: 100vh;
    background-color: #023327;
    color: #FBF7F4;
}